.container {
    background-color: var(--black);
    width: var(--sidebar-w);
    height: calc(100% - var(--header-h));
    position: sticky;
    left: 0;
    top: var(--header-h);
    padding: 10px;
}